@import 'tailwindcss';

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'jelon';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(27% 0.072 132.109);
  --color-base-200: oklch(40% 0.101 131.063);
  --color-base-300: oklch(45% 0.124 130.933);
  --color-base-content: oklch(96% 0.067 122.328);
  --color-primary: oklch(59% 0.145 163.225);
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(66% 0.179 58.318);
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(98% 0.014 180.72);
  --color-neutral: oklch(53% 0.157 131.589);
  --color-neutral-content: oklch(98% 0.031 120.757);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
